@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* shared styles */


header {
    font-family: "Quicksand", serif;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


img {
    max-width: 100%;
    display: block;
}


/* nav styles start here  */

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11.5rem;
    padding: 1.25rem 0;
    border: 1px solid black;
}

.nav-home {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .75rem;
}

.home-title {
    font-size: 2rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    color: red;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    width: 197px;
    height: 50px;
    padding: .5em 3em;
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: .75em;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 576px) {

    header {
        margin: 0;
    }

    .home-title,
    header button,
    nav {
        display: none;
    }

    .nav-icon {
        display: contents;
        height: 2rem;
        width: 2rem;
    }

    .nav-section {
        border: 1px solid #FEA301;
        gap: 11.5rem;
        padding: .75em 1em;
    }

    /* @media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 1200px) {
    
} */